body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient( #ffa600, rgb(243, 91, 31));
    color: white;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input {
    width: 100%;
    padding: 14px 20px;
    border-radius: 4px;
}

input[type=text] {
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}
  
  input[type=submit]:hover {
    background-color: #252020;
}