body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient( #ffa600, rgb(243, 91, 31));
    color: white;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
}

.temperature {
    cursor: pointer;
}

.location {
    display: flex;
    font-size: 90px;
    margin-bottom: 10px;
}

.precipitation {
    font-size: 50px;
}

#weatherIcon {
    margin-left: 20px;
    width: 128px;
    height: 128px;
}

#location-text {
    margin-block-start: .2em;
    margin-block-end: .2em;
}

#precipitation-text {
    margin-block-start: .6em;
    margin-block-end: .6em;
}